content {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--content);
    padding: 80px 0 0 0;
}

@media (max-width:780px) {
    content {padding: 60px 0 0 0;}
}

#codeEditor {
    width: 100%;
    height: 100%;

    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--bg-editor);
    padding: 20px 20px 50px 20px;
    box-sizing: border-box;
    resize: none;
    outline: none;

    transition: 0.2s ease-out;
}

@media (max-width:780px) {
    #codeEditor {
        height: 100%;
        padding-top: 30px;
    }
}

#codeEditor:focus {
    background-color: var(--bg-editor-focus);
}

.Pop {
    width: 100%;
    height: 100%;

    background-color: #0000006e;
    
    position: fixed;
    display: flex;

    pointer-events: none;
    opacity: 0;
    visibility: hidden;

    z-index: 4;
    transition: all 0.3s ease-out;
}

.Pop-out {
    pointer-events:all;
    opacity: 1;
    visibility: visible;
}

.flex-pop {
    display: flex;
    justify-content: center;
}

.Pop-center {
    margin-bottom: 10px;
    text-align: center;
}

.Pop-text {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    line-height: 1.4;
}

.Pop-center-text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.Pop-icon {
    width: 100%;
    height: 30px;

    display: flex;
    justify-content: center;

    transform: translate(0, -75px);
    pointer-events: none;

}

.margin-pop-close {
    width: 100%;
    max-width: 1100px;
    height: auto;

    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px;

    z-index: 6;
    position: fixed;
}

.Pop-Close {
    width: fit-content;
    height: 32px;
    padding: 8px 2px 8px 8px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;

    background-color: var(--header);
    border: 0.89px solid var(--button-border);
    color: var(--text-color);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 6;

    top: 0;
    transform: translateY(22px) scale(0.95);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    background-position: center;
    background-size: 50% 50%;
    background-repeat: no-repeat;

    transition: 0.295s cubic-bezier(.4,0,.2,1), background-color 0.2s ease-out, border 0.2s ease-out;
}

.Pop-Close-Up {
    transform: translateY(22px);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.Pop-Close:hover{background-color: var(--buttons-bg-hover); border: 2px solid var(--white);}
@media (max-width:780px) { 
    .Pop {backdrop-filter: blur(1rem);}
    .margin-pop-close {padding: 0 15px;}
    .Pop-Close {transform: translateY(15px) scale(0.92); filter: blur(5px);}
    .Pop-Close-Up {transform: translateY(15px) scale(1); filter: blur(0); transition-delay: 1ms;}
    .Pop-Close:hover{background-color: var(--solid-box); border: 2px solid var(--buttons-bg);}
    .Pop-Close:active{background-color: var(--buttons-hover); border: 2px solid var(--white);}
}

.Pop-Save, .Pop-New, .Pop-Menu, .Pop-Symbols {
    width: 50ch;
    max-width: 720px;
    height: fit-content;

    margin-left: auto;
    margin-right: auto;

    margin-top: auto;
    margin-bottom: auto;

    border: none;

    display: flex;
    position: fixed;

    inset: 0;

    border-radius: 0;
    z-index: 5;

    transform: scale(0.98) translate(0, 25px);
    opacity: 0;
    visibility: hidden;
    
    filter: blur(1.37px);
    transition: 0.201s, cubic-bezier cubic-bezier(0.5, 0.11, 0.13, 1);

    padding:25px 25px 30px 25px;
    flex-direction: column;
    pointer-events: none;
    
    box-shadow: none;
    background-color: var(--header);
    border: 0.89px solid var(--button-border);

    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    line-height: 1.4;
}

.Pop-Save-Out , .Pop-New-Out, .Pop-Menu-Out, .Pop-Symbols-Out {
    transform: scale(1) translate(0, 25px);
    opacity: 1;
      visibility: visible;
    pointer-events: all;

    filter: blur(0px);
}

@media (max-width: 780px) {
    .Pop-Save, .Pop-New, .Pop-Menu, .Pop-Symbols {
        width: 94%;
        height: auto;

        bottom: 20px;
        border-radius: 0;
        padding: 20px 20px 30px 20px;
        margin: 3%;

        transform: translate(0,0) scale(0.95);
        filter: blur(2.75px);
        transition:0.300s, cubic-bezier cubic-bezier(0.41, 0.1, 0.13, 1);
        inset: auto auto 0 0;

        background-color: var(--header);
        border: 0.89px solid var(--button-border);
    }

    .Pop-Save-Out, .Pop-New-Out, .Pop-Menu-Out, .Pop-Symbols-Out {
        transform: translate(0,0);
        opacity: 1;
        box-shadow: none;
        filter: blur(0);
    }
}

.Save-Large{
    width: 100%;
    height: 50px;

    margin-top: 15px;
    padding: 10px 0;

    background-color: var(--button-bg);
    border: 0.89px solid var(--button-border);
    color: var(--text-color-btn);

    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.2s ease-out;
}

.Save-Large:hover {background-color: var(--button-bg-hover); border: 0.89px solid var(--button-bg-hover);}
.Save-Large:active {background-color: var(--button-bg-active);}

@media (max-width: 780px) {
    .Save-Large:hover {background-color: var(--button-bg); border: 0.89px solid var(--button-bg);}
    .Save-Large:active {background-color: var(--button-bg-active);}

}

.Select-Mobile {
     width: 100%;
    height: 50px;

    margin-top: 15px;
    padding: 10px;

    background-color: var(--bg-editor);
    border: 0.89px solid var(--button-border);
    color: var(--text-color);

    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.2s ease-out;
}

.title-logomobile {
    width: 100%;
    height: 50px;

    margin-top: 15px;
    padding: 13px;

    background-color: var(--bg-editor);
    border: 0.89px solid var(--button-border);
    color: var(--text-color);

    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s ease-out;

    resize: none;
    outline: none;
    box-sizing: border-box;
}

.symbols-container {
    width: 100%;
    height: auto;

    margin-top: 10px;
    padding: 10px;

    color: var(--text-color);

    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;

    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,minmax(3rem,1fr));
    gap: 10px;

    transition: 0.2s ease-out;
}

.symbol-button {
    width: 50px;
    height: 50px;

    padding: 0 10px;

    background-color: var(--button-bg);
    border: 0.89px solid var(--button-border);
    color: var(--text-color-btn);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-out;
}