content {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--content);
    padding: 80px 0 0 0;
}

@media (max-width:780px) {
    content {padding: 60px 0 0 0;}
}

#codeEditor {
    width: 100%;
    height: 100%;

    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--bg-editor);
    padding: 20px 20px 50px 20px;
    box-sizing: border-box;
    resize: none;
    outline: none;

    transition: 0.2s ease-out;
}

@media (max-width:780px) {
    #codeEditor {
        height: 100%;
        padding-top: 70px;
    }
}

#codeEditor:focus {
    background-color: var(--bg-editor-focus);
}

.effect-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--header);
    z-index: -1;
    opacity: 0.1;
}

.effect-tick {
    animation: tick 0.5s ease-in-out;
}

@keyframes tick {
    0% {transform: scale(1);}
    50% {transform: scale(1.05);}
    100% {transform: scale(1);}
}