header, nav {
    box-sizing: border-box;
    transition: 0.2s ease-out;
}

header {
    width: 100%;
    height: auto;

    display: flex;
    position: fixed;

    background-color: var(--header);
}

nav {
    width: 100%;
    max-width: 1100px;

    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
    background-color: var(--header-on);
    border: 0.89px solid var(--button-border);

    margin-left: auto;
    margin-right: auto;
    padding: 0 0 0 10px;
}

@media (max-width:780px) {
    header, nav {
        height: 60px;
        flex-direction: row;
    }
    nav {padding: 0;}
}

.title-drop {
    width: 100%;
    height: 35px;

    padding: 9px 0 0 9px;
    display: flex;
    align-items: center;
}

@media (max-width:780px) {
    .title-drop {
        padding: 0;
        width: fit-content;
        height: 60px;
    }
}

#logotext {
    width: 170px;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--bg-editor);
    border-top:  0.89px solid var(--button-border);
    border-bottom:  0.89px solid var(--button-border);

    padding: 2px 2px 2px 4px;
    display: flex;
    align-items: center;

    resize: none;
    outline: none;
    box-sizing: border-box;
    padding-top: 2px;

    transition: 0s ease-out, opacity 0.1s ease-out, background-color 0.25s ease-out;
}

#logotext:focus {
    background-color: var(--bg-editor-focus);
}

@media (max-width:780px) {
    #logotext {
        font-size: 24px;
        height: 60px;
        width: 150px;
    }
}

.separator {
    width: 100%;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:780px) {
    .separator {
        width: auto;
        height: 60px;
    }
}

.buttons {
    width: auto;
    height: 45px;

    display: flex;
    gap: 10px;
        align-items: center;
        justify-content: center;
    transition: 0.2s ease-out;

    padding: 0 20px 0 0;
}

.buttons-mobile {
    display: none;
    width: 90px;
    height: 45px;

    transition: 0.2s ease-out;
}

.save-button {
    width: 45px;
    height: 45px;

    background-color: var(--button-bg);
    border: 0.89px solid var(--button-border);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s ease-out;
}

.save-button:hover {background-color: var(--button-bg-hover); border: 0.89px solid var(--button-bg-hover);}
.save-button:active {background-color: var(--button-bg-active);}

.icon-save {
    width: 20px;
    height: 20px;

    background-image: url('save.svg');
    background-size: cover;
    background-position: center;

    transition: 0.2s ease-out;
}

.dark-mode-toggle {
    width: 45px;
    height: 45px;

    background-color: var(--button-bg);
    border: 0.89px solid var(--button-border);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s ease-out;
}

.icon-button {
    width: 15px;
    height: 15px;

    background-image: var(--darkmode-icon);
    background-size: cover;
    background-position: center;
    
    transition: 0.2s ease-out;
}

.dark-mode-toggle:hover {background-color: var(--button-bg-hover); border: 0.89px solid var(--button-bg-hover);}
.dark-mode-toggle:active {background-color: var(--button-bg-active);}

@media (max-width:780px) {
    .buttons {
        width: 120px;
        height: 60px;
        display: none;
    }

    .buttons-mobile {
        display: flex;
        width: 120px;
        height: 60px;
        justify-content: space-between;
    }

    .save-button, .dark-mode-toggle {
        width: 60px;
        height: 60px;
    }

    .icon-button, .icon-save {
        width: 25px;
        height: 25px;
    }
}

.desktop-buttons {
    display: flex;
    width: auto;
    height: 30px;
    align-items: center;
}

@media (max-width:780px) {
    .desktop-buttons {
        display: none;
        width: 0;
    }
}

.file-button, 
.archivo, 
.editor, 
.preferences, 
.copy, 
.typefile-button, 
.save-as, 
.darkmode-desk, 
.symbo {
    width: auto;
    height: 22px;
    padding: 0 10px;
    margin-left: 10px;

    cursor: pointer;

    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: var(--text-color);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s ease-out;
    user-select: none;
}

.save-as, .file-button {
    margin-left: 0;
    width: 120px;
}

.copy, .save-desk {
    width: 80px;
    margin-left: 0;
     background-color: var(--button-bg);
}

.left-text { justify-content: flex-start;  background-color: var(--bg-editor);
    border: 0.89px solid var(--button-border);}
.darkmode-desk, .symbo {width: 160px; margin-left: 0;}

.darkmode-desk {content: var(--darkmode-text);}

.file-button:hover, 
.archivo:hover, 
.editor:hover, 
.preferences:hover, 
.copy:hover, 
.save-as:hover, 
.typefile-button:hover,
.copy:hover, 
.darkmode-desk:hover, 
.symbo:hover
{background-color: var(--button-bg-hover);}

.file-button:active, .archivo:active, .editor:active, .preferences:active, .copy:active, .save-as:active, .typefile-button:active, .darkmode-desk:active, .symbo:active{background-color: var(--button-bg-active);}

.archivo, .editor, .preferences, .typefile-button {
    border: var(--header-on) 1px solid;
}

.space-count {
    font-size: 14px;
    color: var(--text-color);
    margin-right: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.space-hour {
    height: 30px;
    font-size: 14px;
    color: var(--text-color);
    margin-right: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    cursor: default;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-out;

    padding: 0 5px;
    cursor: pointer;
}

.space-hour:hover {background-color: var(--button-bg-hover);}

.space-hour-ex {
    width: 100%;
    height: 100%;

    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    color: var(--text-color);

    text-align: center;
    justify-content: center;
    align-items: center;

    display: none;
}

@media (max-width:780px) {
    .space-count {
        display: none;
    }

    .space-hour {
        margin-right: 0;
        width: fit-content;
        height: 60px;
        cursor: default;
    }
}

.border-box {
    display: none;
    position: absolute;
    top: 20px;
    left: -11px;

    padding: 10px;
    box-sizing: border-box;
    background-color: transparent;
    width: auto;
}

.box {
    background-color: var(--bg-editor);
    border: 0.89px solid var(--button-border);
    box-sizing: border-box;
    z-index: 10;
    flex-direction: column;
}

.option {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--bg-editor);
    border: 0.89px solid var(--button-border);
    font-size: 12px;
    color: var(--text-color);
    transition: 0.2s ease-out;

    cursor: pointer;
}

.option:hover {
    background-color: var(--button-bg-hover);
}
.option:active {
    background-color: var(--button-bg-active);
}

a.typefile-button {
    position: relative;
    cursor: default;
}

a.archivo, a.editor, a.preferences {
    position: relative;
    cursor: default;
}

/**
a.archivo:hover .border-box, 
a.editor:hover .border-box, 
a.preferences:hover .border-box {
    display: flex;
}*/

