header, nav {
    box-sizing: border-box;
    transition: 0.2s ease-out;
}

header {
    width: 100%;
    height: 30px;

    display: flex;
    position: fixed;

    background-color: var(--header);
}

nav {
    width: 100%;
    max-width: 1100px;

    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--header-on);
    border: 0.89px solid var(--button-border);

    margin-left: auto;
    margin-right: auto;
}

@media (max-width:780px) {
    header, nav {
        height: 60px;
    }
}

#logotext {
    width: 200px;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--bg-editor);

    display: flex;
    align-items: center;

    resize: none;
    outline: none;
    box-sizing: border-box;
    padding-top: 2px;

    transition: 0.2s ease-out;
}

#logotext:focus {
    background-color: var(--bg-editor-focus);
}

@media (max-width:780px) {
    #logotext {
        font-size: 24px;
        height: 60px;
    }
}

.buttons {
    width: 60px;
    height: 30px;

    display: flex;
    transition: 0.2s ease-out;
}

.save-button {
    width: 30px;
    height: 30px;

    background-color: var(--button-bg);
    border: 0.89px solid var(--button-border);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s ease-out;
}

.save-button:hover {background-color: var(--button-bg-hover);}
.save-button:active {background-color: var(--button-bg-active);}

.icon-save {
    width: 20px;
    height: 20px;

    background-image: url('save.svg');
    background-size: cover;
    background-position: center;

    transition: 0.2s ease-out;
}

.dark-mode-toggle {
    width: 30px;
    height: 30px;

    background-color: var(--button-bg);
    border: 0.89px solid var(--button-border);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s ease-out;
}

.icon-button {
    width: 15px;
    height: 15px;

    background-image: var(--darkmode-icon);
    background-size: cover;
    background-position: center;
    
    transition: 0.2s ease-out;
}

.dark-mode-toggle:hover {background-color: var(--button-bg-hover);}
.dark-mode-toggle:active {background-color: var(--button-bg-active);}

@media (max-width:780px) {
    .buttons {
        width: 120px;
        height: 60px;
    }

    .save-button, .dark-mode-toggle {
        width: 60px;
        height: 60px;
    }

    .icon-button, .icon-save {
        width: 25px;
        height: 25px;
    }
}

.desktop-buttons {
    display: flex;
    width: 200px;
    height: 30px;
    align-items: center;
}

@media (max-width:780px) {
    .desktop-buttons {
        display: none;
        width: 0;
    }
}


.space-count {
    font-size: 14px;
    color: var(--text-color);
    margin-right: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.space-hour {
    height: 30px;
    font-size: 14px;
    color: var(--text-color);
    margin-right: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    cursor: default;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-out;

    border-top:  0.89px solid var(--button-border);
    border-bottom:  0.89px solid var(--button-border);

    padding: 0 5px;
}

.space-hour:hover {background-color: var(--button-bg-hover);}

.space-hour-ex {
    width: 100%;
    height: 100%;

    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    color: var(--text-color);

    text-align: center;
    justify-content: center;
    align-items: center;

    display: none;
}

@media (max-width:780px) {
    .space-count {
        display: none;
    }

    .space-hour {
        margin-right: 0;
        width: fit-content;
        height: 60px;
    }
}